Welcome to my website

<p>site based on {{ ansible_architecture }} 
<p>{{ ansible_distribution }}
<p>{{ ansible_distribution_release }}
<p>{{ ansible_distribution_version }}



{% for field in ansible_default_ipv4 %}
		
		<p>	{{ field }} {{ ansible_default_ipv4.field }} 
		

{% endfor%}
<p>today {{ ansible_date_time['date'] }}